.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background:   hsl(225, 100%, 94%);
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 10px 1px hsl(225, 100%, 94%);
    /* border: 2px solid red; */
}

/*style the image*/
.illustration-image{
    width: 350px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content{
    background-color: white;
    width: 350px;
    height: 350px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    width: 300px;
    text-align: center;
}
.centered-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 70px;
    margin-bottom: 20px;
    background-color:hsl(225, 100%, 98%);
    border-radius: 7px;
    /* border: 1px solid green; */
}
.plan{
    display: flex;
    flex-direction: row;
}
.music-image{
    width: 30px;
    height: 30px;
    margin: 15px;
}
button{
    width: 300px;
    height: 40px;
    border-radius: 7px;
    background-color: hsl(245, 75%, 52%);
    border: 0px;
    color: white;
    box-shadow: 0px 20px 12px hsl(225, 100%, 94%);
    margin-bottom: 10px;
}

p{
    font-size: 16px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}
p>strong{
    margin-right: 70px;
    color: black;
    font-weight:700px;
}
a{
    color: hsl(245, 75%, 52%);
    font-weight: 900;
}

h1{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 900;
}

/*Adding the media queries for the mobile design*/
@media (max-width:375px){
    /*Changing the background image of the body when the screen width is at 375px and below*/
    body{
        background-image: url(/images/pattern-background-mobile.svg);
    }
}